<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">


                    <form action="/" method="GET">

                        <button type="submit" class="btn btn m-lg-1">
                            Home
                        </button>
                    </form>


                </li>
                <li class="nav-item">
                    <form action="/login" method="GET">

                        <button type="submit" class="btn btn m-lg-1">
                            User Login
                        </button>
                    </form>
                </li>

                <li class="nav-item">

                    <form action="/signup" method="GET">

                        <button type="submit" class="btn btn m-lg-1">
                            User Signup
                        </button>
                    </form>

                </li>

                <li class="nav-item">

                    <form action="/alogin" method="GET">
                        <button type="submit" class="btn btn m-lg-1">
                            Admin Login
                        </button>
                    </form>

                </li>


            </ul>

        </div>
    </div>
</nav>