.nav{
    display:flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: blue;
    color: white;
    

}
a{
    text-decoration: none;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
}
body{
background-color: aqua;
}

.maintext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    font-size: 8vh;
}